[package]
name = "input_predictor"
version = "0.1.0"
edition = "2021"

[lib]
name = "input_predictor"
crate-type = ["cdylib", "staticlib", "rlib"]

[dependencies]
libc = "0.2"

[profile.release]
opt-level = 3
lto = true
codegen-units = 1

